/* $Date$ */
/* $Revision$ */

body {
	background-color: #FFFFFF;
   }

td.min {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0033CC;
	text-align: center;
   }
td.avg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #00CC33;
	text-align: center;
   }
td.max {      
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #CC0033;
	text-align: center;
   }
td.cur {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	color: #000000;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
   }
