html{-webkit-text-size-adjust:none}
body *{text-overflow:ellipsis;font-family: helvetica,arial,sans-serif;-webkit-tap-highlight-color:rgba(0,0,0,0.12)}
body{margin:0;color:#000;background-color:black}
img{border:0}
a[rel=action],a[rel=back]{display:none}
#WebApp{position:relative;overflow:hidden;width:100%;background:#c5ccd4 url(Img/bg.gif);min-height:100%}
#iGroup{position:relative}
.iLayer{float:left;display:none;overflow:hidden}
.iItem{display:none}
.__lay{background-color:#fff}
.__wa_slideV1 .iLayer{width:50% !important}
.__wa_slideV1{width:200%}
.__wa_header{-webkit-transition: left 0.2s ease-out,opacity 0.2s linear}
#__wa_media{display:none}
#__wa_modal{color:#fff;background:rgba(0,0,0,0.75) url(Img/modal.png) top repeat-x;position:absolute;width:100%;padding:10px 0;z-index:1000;border-top:solid 1px #000;text-shadow:rgba(0,0,0,0.3) 0 -1px 0}
#__wa_modal .iItem{display:block}
#__wa_noclick{position:absolute;width:100%;height:100%;left:0;top:0;z-index:1000;display:none}
#__wa_shadow{position:absolute;width:100%;height:100%;left:0;top:0;z-index:100;display:none;background-color:#000;opacity:0.5}
.iMore{border-bottom:solid 1px #e1e1e1;background-color:#fff;font-weight:bold;text-align:center;font-size:17px}
.iMore a,li.iMore a{display:block;color:#2470d8;padding:20px 0;text-decoration:none}
.iMore.__lod a{color:#888}
.iMore.__lod a:before{content:url(Img/loader.gif);vertical-align:middle}
.iMenu li.iMore:last-child{border-bottom:0}
#iHeader .iTab{margin-right:15px}
.iTab{border-width:3px 16px;-webkit-border-image:url(Img/button-light.png) 3 16}
.iTab ul{margin:0 -16px;padding:0;height:26px;line-height:26px;font-size:13px;text-shadow:rgba(0,0,0,0.5) 0 -1px 0;color:#fff;font-weight:bold}
.iTab li{list-style:none;padding:0;white-space:nowrap;float:left;text-align:center}
.iTab li:first-child a{border:none}
.iTab li a{border-left:solid 1px rgba(0,0,0,0.3);color:inherit;text-decoration:none;display:block;margin:-1px 0;line-height:28px;overflow:hidden;padding:0 8px}
.iTab li:first-child a{-webkit-border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px}
.iTab li:last-child a{-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px}
.iTab li.__act a{background:rgba(0,32,128,0.30) url(Img/button-bg.png) top repeat-x}
.iMenu h3,.iBlock h1,.iPanel legend{color:#4c566c;margin:0 8px;font-size:16px;font-weight:bold;text-shadow:#fff 0 1px 0}
.iMenu ul,.iPanel fieldset ul,.iBlock div,.iBlock p{padding:0;margin:10px 0 20px;font-weight:bold;border-width: 1px;border-style:solid;border-color:#a9acaf;-webkit-border-radius:9px;background-color:#fff}
.iMenu li{white-space:nowrap}
.iMenu li,.iPanel fieldset li{font-size:17px;list-style-type: none;border-top-width:1px;border-top-style:solid;border-color:inherit;line-height:20px;padding:11px 8px 12px}
.iMenu a,.iPanel a{margin:-11px -8px -12px;padding:inherit;color:inherit;text-decoration:none;display:block;overflow:hidden}
.iMenu li img{float:left;border:none;margin:-4px 11px -5px 0}
.iMenu li span,.iPanel li span{float:right;color:#324f85;font-weight:normal}
.iPanel input[type=text],.iPanel input[type=password],.iPanel input[type=search]{width:100%;margin:-4px 0 -5px;padding:4px 0 5px;border:0;font-size:inherit;line-height:inherit;font-weight:normal;background:none;-webkit-border-radius:0}
.iPanel legend{display:inline}
.iPanel fieldset{margin:0;padding:0;border:none}
.iMenu ul.iArrow a{padding-right:31px}
li.iRadio span{margin-right:23px}
.iMenu li:first-child,.iPanel li:first-child{border-top:none}
* li.__sel *{color:#fff !important;border-color:#fff !important}
.iMenu li:first-child,.iMenu li:first-child a,.iPanel li:first-child,.iPanel li:first-child a{-webkit-border-top-right-radius:9px;-webkit-border-top-left-radius:9px}
.iMenu li:last-child,.iMenu li:last-child a,.iPanel li:last-child,.iPanel li:last-child a{-webkit-border-bottom-right-radius:9px;-webkit-border-bottom-left-radius:9px}
.iLoader,#iLoader{display:none;color:#2f343c;font-size:15px;font-weight:bold;text-shadow:#fff 0 1px 0;line-height:20px;text-align:center}
.iLoader:before,#iLoader:before{content:url(Img/loader-page.gif);vertical-align:middle;margin-right:5px}
#iLoader{padding-top:138px;display:block}
.iBlock{margin:9px 9px 20px}
.iBlock p,.iBlock div p{margin:8px;font-size:14px;line-height:18px;font-weight:normal}
.iBlock p{padding:8px;margin:10px 0 0}
.iBlock div p{border:none;padding:0;margin:8px}
.iList ul{margin:0;padding:0;font-weight:bold;background-color:#fff}
.iList li:not(.iMore){border-bottom:solid 1px #e1e1e1;list-style:none;font-size:20px;line-height:23px;padding:10px}
.iMenu li em,.iList li em,.iList li small{white-space:nowrap;overflow:hidden}
.iMenu li em,.iList li em{margin:0;display:block;font-style:normal;font-size:inherit;font-weight:inherit}
.iList li:not(.iMore) a{margin:-10px;padding:inherit;display:block;text-decoration:none;color:inherit}
.iList li small{display:block;font-size:14px;color:#7f7f7f;line-height:18px;text-shadow:none;font-weight:normal}
.iList li img{float:left;margin:-3px 10px 0 0}
ul.iArrow li a[rev~=media]{background-image:url(Img/bullet-media.png) !important}
ul.iArrow li:not(.iMore) a,li.iRadio a{background-image:url(Img/chevron.png);background-position:right center;background-repeat:no-repeat}
li.__sel{background:#015de6 url(Img/select.gif) top repeat-x}
ul.iArrow li em,ul.iArrow li small{margin-right:23px}
li.iRadio.__sel a,ul.iArrow li.__sel a{background-image:url(Img/chevron-select.png)}
ul.iArrow li.__lod:not(.iMore) a{background-image:url(Img/loader.gif)}
ul.iArrow li.__sel.__lod a{background-image:url(Img/loader-select.gif)}
.iCheck li.__act.__sel a{background:url(Img/check-sel.png) right center no-repeat}
.iCheck li.__act a{color:#324f85;background:url(Img/check.png) right center no-repeat}
#waBackButton,#waHomeButton,#waLeftButton,#waRightButton,.iButton,.iLeftButton,.iRightButton{position:absolute;border-width:0 10px 0 10px;top:5px;margin:0;white-space:nowrap;overflow:hidden;display:none;text-decoration:none;max-width:50px;height:32px;line-height:32px;font-size:13px;-webkit-border-radius:4px}
#waBackButton{left:4px;border-width:0 10px 0 15px;-webkit-border-image: url(Img/button-back.png) 0 10 0 15;-webkit-border-top-left-radius:22px;-webkit-border-bottom-left-radius:22px}
#waHomeButton{right:4px;border-width:0 10px 0 10px;-webkit-border-image: url(Img/button-simple.png) 0 10 0 10}
#waHeadTitle{font-size:20px;display:block;margin:0 85px;letter-spacing:-1px;white-space:nowrap;overflow:hidden}
.iLeftButton,.iRightButton,#waLeftButton,#waRightButton{left:4px;border-width:0 10px 0 10px;display:block}
.iRightButton,#waRightButton{left:auto;right:4px}
.iButton{float:left;display:block;color:#fff;padding:0}
.iBWarn{-webkit-border-image: url(Img/button-red.png) 0 10 0 10}
.iBClassic{-webkit-border-image: url(Img/button-simple.png) 0 10 0 10}
.iBAction{-webkit-border-image: url(Img/button-blue.png) 0 10 0 10}
.iMenu li a.iButton{position:static;float:right;margin:-4px -2px 0 0;padding:0;color:#fff;margin-left:8px}
.iForm{display:none;position:absolute;z-index:3000;left:0;width:100%;background-color:#6d84a2;border-top:solid 1px #95a5bc;border-bottom:solid 1px #2d3642}
.iForm legend{display:none}
.iForm fieldset{padding:0 5px;margin:0;border:none;position:relative;text-shadow:none;font-weight:normal;line-height:normal}
.iForm input[type=text],.iForm input[type=password],.iForm input[type=search]{width:100%;display:block;font-size:15px;line-height:19px;height:31px;margin:4px 0;padding:3px 0;border-width:3px 6px;-webkit-border-image: url(Img/form-input.gif) 3 6}
.iForm select{font-size:15px;width:100%;display:block;margin:4px 0;height:31px;background:#fff;border-color:#49607e}
.iForm label{display:none;position:absolute;color:#8f8f8f;text-align:right;left:16px;padding:6px 0;font-size:15px;line-height:19px}
input.iToggle{display:none}
b.iToggle,b.iToggleOn{border:solid 1px #979797;-webkit-border-radius:4px;line-height:25px;position:relative;width:92px;font-size:16px;font-weight:bold;background:#fefefe url(Img/form-check-bg.gif) top repeat-x;color:#7e7e7e}
b.iToggleOn{border-color:#1858b8;background-color:#76adfc;background-image:url(Img/form-check-bgon.gif);color:#fff}
b.iToggle b,b.iToggleOn b{position:absolute;top:-1px;height:100%;width:37px;border:solid 1px #979797;-webkit-border-radius:4px;background:#fbfbfb url(Img/form-check-thumb.gif) top repeat-x}
b.iToggle i,b.iToggleOn i{position:absolute;width:47px;line-height:21px;padding:4px 4px 0;text-align:center;font-style:normal;overflow:hidden;background:url(Img/form-check-text.png) left repeat-y;text-shadow:#fff 0 1px 0}
b.iToggleOn i{background:url(Img/form-check-texton.png) right repeat-y;text-shadow:#2957a4 0 -1px 0}
b.iToggle,b.iToggleOn{float:right}
.iPanel b.iToggle,.iPanel b.iToggleOn{float:right;margin:-2px 0 0}
li.iRadio a label{display:none}
.iLayer h2{text-align:left;margin:0;padding:0 12px 2px;color:#fff;line-height:18px;font-size:18px;background:#b8c1c8 url(Img/bg-title.gif) top repeat-x;border-top:solid 1px #a5b1ba;border-bottom:solid 1px #989ea4;font-weight:bold;text-shadow:#64696e 0 1px 0}
#iHeader a{text-decoration:none;color:inherit}
#iHeader{height:45px;line-height:44px;position:relative;text-align:center;background:#6d84a2 url(Img/bg-head.png) repeat-x;border-top:solid 2px #cdd5df;border-bottom:solid 1px #2d3642;font-weight:bold;text-shadow:#424e5d 0 -1px 0;color:#fff;-webkit-box-sizing:border-box}
#iHeader .iTab{position:relative;top:5px;left:8px}
#iFooter,.iFooter{color:#4c566c;font-size:14px;font-weight:bold;text-shadow:#fff 0 1px 0;text-align:center;margin:10px 0;clear:both;float:left;width:100%}
.iMenu,.iPanel,.iInner{margin:9px 9px 20px}
.iShop li img.iFull{margin:-11px 6px -12px -8px;width:88px;height:88px;background:#d6dce6 url(Img/bg-shop.png) top left repeat-x}
.iList .iShop li img.iFull{margin:-10px 6px 0 -10px;height:83px}
.iShop li em,*[dir=rtl] .iShop li em{margin:0 !important;font-size:13px;line-height:25px;color:#7f7f7f;float:none}
.iShop li big{font-size:15px;line-height:18px;white-space:normal;display:block;overflow:hidden;height:39px;margin-top:-1px}
.iShop li big small{font-size:13px;line-height:25px;display:block;font-weight:normal;color:#7f7f7f;margin-top:-1px}
.iMenu .iShop li:first-child img.iFull{-webkit-border-top-left-radius:9px}
.iMenu .iShop li:last-child img.iFull{-webkit-border-bottom-left-radius:9px}
.iList .iShop li:not(.iMore) a{padding-right:31px}
*[dir=rtl] .iMenu li img{float:right;margin:-4px 0 -5px 11px}
*[dir=rtl] .iMenu li span,*[dir=rtl] .iPanel li span,*[dir=rtl] .iPanel b.iToggle,*[dir=rtl] .iPanel b.iToggleOn{float:left}
*[dir=rtl] .iMore.__lod a:before{content:url(Img/rtl-loader.gif)}
*[dir=rtl] ul.iArrow li.__lod:not(.iMore) a{background-image:url(Img/rtl-loader.gif)}
*[dir=rtl] ul.iArrow li.__sel.__lod a{background-image:url(Img/rtl-loader-select.gif)}
*[dir=rtl] .iMenu ul.iArrow a{padding:inherit;padding-left:31px}
*[dir=rtl] li.iRadio span{margin-left:23px;margin-right:0}
*[dir=rtl] ul.iArrow li em,*[dir=rtl] ul.iArrow li small{margin-left:23px;margin-right:0}
*[dir=rtl] ul.iArrow li a[rev~=media]{background-image:url(Img/rtl-bullet-media.png) !important}
*[dir=rtl] ul.iArrow li:not(.iMore) a,*[dir=rtl] li.iRadio a{background-image:url(Img/rtl-chevron.png);background-position:left center}
*[dir=rtl] li.iRadio.__sel a,*[dir=rtl] ul.iArrow li.__sel a{background-image:url(Img/rtl-chevron-select.png)}
*[dir=rtl] #waBackButton{border-width:0 15px 0 10px;-webkit-border-image: url(Img/rtl-button-back.png) 0 15 0 10;-webkit-border-radius:4px;-webkit-border-top-right-radius:22px;-webkit-border-bottom-right-radius:22px}
*[dir=rtl] #waHomeButton,*[dir=rtl] #waRightButton,*[dir=rtl] .iRightButton{left:4px;right:auto}
*[dir=rtl] #waBackButton,*[dir=rtl] #waLeftButton,*[dir=rtl] .iLeftButton{right:4px;left:auto}
*[dir=rtl] .iList li img{float:right;margin:-3px 0 0 10px}
*[dir=rtl] .iCheck li.__act.__sel a{background:url(Img/rtl-check-sel.png) left center no-repeat}
*[dir=rtl] .iCheck li.__act a{background:url(Img/rtl-check.png) left center no-repeat}
*[dir=rtl] .iLayer{float:right}
*[dir=rtl] .iLoader:before,*[dir=rtl] #iLoader:before{vertical-align:middle;margin-left:5px;margin-right:0}
*[dir=rtl] .iShop li img.iFull{margin:-11px -8px -12px 6px}
*[dir=rtl] .iList .iShop li img.iFull{margin:-10px -10px 0 6px}
*[dir=rtl] .iList .iShop li:not(.iMore) a{padding-left:31px;padding-right:inherit}
*[dir=rtl] .iMenu .iShop li img.iFull{margin:-11px -8px -12px 6px}
*[dir=rtl] .iMenu .iShop li img.iFull{-webkit-border-radius:0}
*[dir=rtl] .iMenu .iShop li:first-child img.iFull{-webkit-border-top-right-radius:9px}
*[dir=rtl] .iMenu .iShop li:last-child img.iFull{-webkit-border-bottom-right-radius:9px}
