
BODY { color: black; background: white; font-size:0.83em}
font, p, a { font-family: Verdana, Arial, Helvetica}
td, input, select {
    font-size: 0.75rem;
}

h4{
margin-top: 2px;
}

A:link { color: blue; }


A:visited { color: purple; }


A:active { color: brown; } 


A:hover { color: green; }


.error { color: red; }


.error input { color: red; }
