
BODY { color: black; background: white }
FONT { font-family: Verdana, Arial, Helvetica; font-size:10pt}


P    { font-family: Verdana, Arial, Helvetica; font-size:10pt}

LI   { font-family: Verdana, Arial, Helvetica; font-size:8pt}


h4{
margin-top: 2px;
}

A:link { color: blue; }


A:visited { color: purple; }


A:active { color: brown; } 


A:hover { color: green; }


.error { color: red; }


.error input { color: red; }

table.EditTrigger { font-size:10pt;}
