
BODY { color: black; background: white }
FONT { font-family: Verdana, Arial, Helvetica; font-size:8pt}
P    { font-family: Verdana, Arial, Helvetica; font-size:8pt}
LI   { font-family: Verdana, Arial, Helvetica; font-size:8pt}
A:link { color: blue; }
A:visited { color: lightblue; }
A:active { color: brown; } 
A:hover { color: green; }
PRE { white-space:pre-wrap; font-family:courier, monospace; display:inline; font-size:10pt;}
